  body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 20px;
            line-height: 1.6;
        }

        header {
            text-align: center;
            background-color: #2c3e50;
            color: white;
            padding: 20px 0;
            border-radius: 8px;
        }

        h1 {
            margin: 0;
            padding-top: 75px;
        }

        section {
            max-width: 800px;
            margin: 30px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        h2 {
            color: #34495e;
        }

        ul {
            
            list-style-type: disc;
            padding-left: 20px;
        }

        li {
            margin-bottom: 10px;
        }

        footer {
            text-align: center;
            margin-top: 40px;
            color: #7f8c8d;
        }
        .img1 {
         opacity: 0;
         height: 300px;
         width: 270px;
         max-width: 800px;
         margin: 30px auto;
         background-color: #ffffff;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 4px 8px rgba(0,0,0,0.1);
         text-align: center;
        } 
        .img1:hover {
         opacity: 1;
        } 
         .abc {
         max-width: 800px;
         margin: 30px auto;
         background-color: #ffffff;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 4px 8px black;
         font-size: 17px;

        }

          .img2 {
         opacity: 0;
         height: 300px;
         width: 270px;
         max-width: 800px;
         margin: 30px auto;
         background-color: #ffffff;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 4px 8px rgba(0,0,0,0.1);
         text-align: center;
        } 
        .img2:hover {
         opacity: 1;
        }
        .centerclass{
            text-align: center;
        }
        nav {
           
  width: 100%; 
  height: 75px; 
  background-color: #2f94f1;
  position: fixed;
  top: 0px;
  left: 0;
  box-sizing: border-box;
  font-size: 19px;
        }

        nav a {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 170px; 
  text-decoration: none;
  color: #fff;
}
